<section class="transition-fade" id="meio">
    <div>
<h3></h3>
    <div class="row">
        <div class="col s3 m3">
          <div   class="card">
            <div class="card-image">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCqTS1Q-oHI4E1d04I-pgVrhAD5S6l3hsceQ&usqp=CAU">
              <a routerLink="/cadEmpresa" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              <span  class="card-title" >Empresas</span>
            </div> 
          </div>
        </div>
        <div  class="col s3 m3">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCqTS1Q-oHI4E1d04I-pgVrhAD5S6l3hsceQ&usqp=CAU">
                <span class="card-title">Estacionamentos</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>   
            </div>
          </div>
          <div  class="col s3 m3">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCqTS1Q-oHI4E1d04I-pgVrhAD5S6l3hsceQ&usqp=CAU">
                <span class="card-title">Funcionarios</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>   
            </div>
          </div>
          <div  class="col s3 m3">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCqTS1Q-oHI4E1d04I-pgVrhAD5S6l3hsceQ&usqp=CAU">
                <span class="card-title">Clientes</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>   
            </div>
          </div>
      </div>
    </div>
</section>
