<section id="meio">
    <h1 style="color: white;">Menu Cadastros</h1>
    <div class="row">
      <div class="card">
        <span>Empresa</span>
        <div class="card-action">
          <a routerLink="/cadEmpresa">Cadastrar / Alterar</a>
        </div>
      </div>
      <div class="card" hidden>
        <span>Estabelecimento</span>
        <div class="card-action">
          <a routerLink="/CadEstabelecimento">Cadastrar</a>
          <a routerLink="/ListEstabelecimentos">Listar</a>
        </div>
      </div>
      <div class="card">
        <span>Funcionario</span>
        <div class="card-action">
          <a routerLink="/CadFuncionario">Cadastrar</a>
          <a routerLink="/ListFuncionarios">Listar</a>
        </div>
      </div>
      <div class="card">
        <span>Cliente</span>
        <div class="card-action">
          <a routerLink="/CadCliente">Cadastrar</a>
          <a routerLink="/ListClientes">Listar</a>
        </div>
      </div>
          
        
    
    </div>
      
</section>
