<section id="meio" >

    <H2>NOME DO CLIENTE</H2>
    <div class="container-title"> Veiculos Cadastrados </div>
    <br>

  <div id="myform">
     <form id="form" method="post" (ngSubmit)="onSubmit()" [formGroup]="formulario">
        <div class="form-group">
         <div class="row">
                <div class="col s">
                    <label for="placa">Digite a PLACA do seu veículo</label>
                    <input formControlName="placa" class="form-control" id="placa" type="text" name="placa" >
                </div>
            </div>
        </div>
            <button [disabled]="formulario.invalid" class="btn btn-success" type="submit" onClick=window.location.reload()>Incluir
            </button>

            <button [routerLink]="'/clientes'"  style="margin-left: 5px;" type="button" class="btn btn-danger">Cancelar
            </button>
        </form>
    </div>
<br>
<br>
<br>
    <section class="retornar">
        <table border="1">
            <tr>
            <th>PLACAS ADICIONADAS</th>
            </tr>
            <tr  >
                <td>placa</td>
                <td >
              </tr> 
           

           
         </table>
          
    </section>
   
</section>
