<section id="meio" >

    <H2>{{cliente?.nome}}</H2>
    <div class="container-title"> Veiculos Cadastrados </div>
    <br>

  <div id="myform">
     <form >
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label for="placa">Placa</label>
                    <input [(ngModel)]="veiculo.placa" class="form-control" id="placa" type="text" name="placa" >
                </div>
            </div> 
        </div>
            <button class="btn btn-success" type="submit" (click)="novaPlaca()">Incluir</button>
            <button [routerLink]="'/clientes'"  style="margin-left: 5px;" type="button" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
    <br>
<hr>
<br>
    <section class="retornar" style="border: 1px;" >
        <table>
            <th>PLACAS VINCULADAS</th>
            <tr *ngFor="let veiculo of veiculos">
                <td>{{veiculo.placa}}</td>
            </tr> 
         </table>
    </section>


</section>
