
<section id="meio">
  
    <H2>Funcionários</H2>
    <div class="container-title"> Listagem de Funcionários Cadastrados </div>
    <br>
    
    <section class="lista">
        <table>
            <thead>
              <tr>
                  <th>Matrícula</th>
                  <th>Nome</th>
                  <th><button [routerLink]="'/novofuncionario'" class="btn btn-primary" type="submit" name="action">Adicionar</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let funcionario of funcionarios">
                <td>{{ funcionario.matricula }}</td>
                <td>{{ funcionario.nome }}</td>
                <td><a [routerLink]="['/detalhesfuncionario', funcionario.matricula]" style="margin-right: 5px;"  class="waves-effect waves-light btn"><i class="material-icons center">edit</i></a>
                </td>
              </tr> 
            </tbody>
          </table>
          
    </section>

</section>
