

  table{
      width: 90%;
  }
  
  thead{
      border-bottom: solid 1px #c7c6c6;
      font-size: 20px;
  }
  
  #matricula{
      width: 10px;
      
  }

  #nome{
      width: 30px;
  }
  
  #action{
      width: 30px;
  }
  
  tr{
      border-bottom: solid 1px #dbd8d8;
      height: 60px;
      width: 15px;
  }
  
  td{
    max-width: 100px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
   
  }