<section id="meio" >
    <H3 style="color: white ; text-align: left;">Cadastrar Veículo</H3>
  <div id="myform">
    <form id="form" method="post" [formGroup]="formulario">
      <div class="form-group">

        <div class="row">
          <div class="col">
            <label  for="matricula" >Tipo Veículo</label>
            <div class="custom-radio"> 
              <input type="radio" id="carro" name="tipoVeiculo" value="Carro">
              <label for="carro">Carro</label>
              <input type="radio" id="moto" name="tipoVeiculo" value="Moto">
              <label for="moto">Moto</label>
            </div>
          </div>

          <!-- <div class="col">
            <label  for="matricula" >Tipo Veículo</label>
            <input  formControlName="tipo" class="form-control" type="text" id="tipo" name="tipo">
          </div> -->
          <div class="col">
            <label for="nome">Placa Veículo</label>
            <input formControlName="placa" class="form-control" id="placa" type="text" name="placa">
          </div>
        </div>
       </div>

        <button  class="btn btn-primary" type="submit">Gravar
          <i class="material-icons right">check</i>
        </button>

        <button [routerLink]="'/cadastros'" style="background-color: rgb(224, 59, 59); margin-left: 5px;" class="btn waves-effect waves-light">Cancelar
          <i class="material-icons right">cancel</i>
        </button>

      </form>
    </div>
</section>
