<!DOCTYPE html>
<html lang="PT-BR ">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<nav id="navbar">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Home<i id="home" class="material-icons">home</i></a>
    <ul id="nav-mobile" class="left ">
      <li routerLinkActive="active"><a routerLink="cadastros">MENU</a></li>
      <li routerLinkActive="active"><a routerLink="tickets" >TICKETs</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
</html>