<section id="meio" >
    
    <H2 class="teste">Tickets</H2>
    <div  id = titulo class="container-title"> Abrir Novo Ticket</div>
    <br>

    <div  id="myform" >
        <div class="form-group">
          <div class="row">
            <div class="col">
               <label  for="entrada" >Hora Entrada</label>
               <input readonly [(ngModel)]="horaAtual"  class="form-control" type="text"  >
            </div>
          </div>
            <div class="row">
              <div class="col">
                <label for="placa">Placa</label>
                <input [(ngModel)]="ticket.placa" class="form-control"  id="placa" type="text"  name="placa" (blur)="verificaPlaca()">
              </div>
            
            </div>
            <div  *ngIf="exibeMensalista" id="exibeMensalista" >
              <hr>
              <span style="display: block; color: black; font-size: 16px; font-weight: 700; "> Cliente mensalisata! Inserir na proxima fatura? </span>
              <button class="pgto btn btn-primary" style="margin-left: 5px;margin-right: 5px;" (click)="aFaturar()"  >Sim, a faturar</button>
              <button class="pgto btn btn-primary" (click)="aVista()" >Não, a vista</button>
              <button [routerLink]="'/tickets'" style="margin-left: 100px;" class="btn btn-danger">Cancelar</button>
              <hr>
            </div>
        </div>
        <div style="display: inline-block; margin-top: 10px; margin-left:10px;">
          <button *ngIf="!exibeMensalista" class="btn btn-success" type="submit" (click)="verificaPlaca()">Gravar
          </button>

          <button  *ngIf="!exibeMensalista" [routerLink]="'/tickets'" style="margin-left: 5px;" class="btn btn-danger">Cancelar
          </button>
      </div>
    </div>


    
    <div id= imprimir class="print">
      <p class="centrado">Nome da empresa
                <br>ENDERECO
                <br>CNPJ
                <br>
                <br>
                <br>HORA DE Entrada
                <br>PLACA
              </p>
    
      <p class="centrado">NO CASO DA PERCA DO TICKET
          <br>SERA COBRADO UM VALOR DE R$10,00</p>
  </div>

</section>
