
<section id="meio">
    
    <H2>Entradas</H2>
    <div class="container-title"> Entradas do Dia</div>
    <br>

    
    <br><br>
    <section class="table-wrapper">
      <table class="fl-table">
            <thead>
              <tr>
                  <th>Placa</th>
                  <th>Horário Entrada</th>
                  <th>Valor Cobrado</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of tickets">
                <td>{{ ticket.placa }}</td>
                <td>{{ ticket.horaEntrada }}</td>
                <td>{{ ticket.valor }}</td>
              </tr> 

            </tbody>
            
          </table>
          <div class="total">
            <tr>TOTAL: {{totalEntradas}}</tr>
        </div>
         
          
          
    </section>

</section>