<nav class="navbar">
    <h1>Estacionamento</h1>
</nav>
<div class="sidebar">
    <div class="sidebar-content">
      <p>HOME</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">home</i> <a routerLink="home">Início</a>  
    </div>

    <div class="sidebar-content">
      <p>MOVIMENTO</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">receipt_long</i> <a routerLink="tickets">Tickets</a>  
    </div>

    <div class="sidebar-content">
      <p>CADASTROS</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">people_alt</i> <a routerLink="clientes">Clientes</a>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">engineering</i> <a routerLink="funcionarios">Funcionários</a>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">apartment</i> <a routerLink="empresa">Empresa</a>
    </div>
    <div class="sidebar-content">
      <p>RELATÓRIOS</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">receipt</i> <a routerLink="entradas">Entradas do Dia</a>
    </div>

</div>
<main>
    <router-outlet></router-outlet>
</main>
