<section>

<input type="checkbox" id="checkboxmenu">
    <label for="checkboxmenu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKvnCQCWscKdAAqW0ItoDGvoob_SU0REqn_R_bcqrcwBdxN0H8m8p3bxkVfA5TLf5UPao&usqp=CAU">
    </label>

<nav>
    <ul>
      <li><a href="">Empresas</a></li>
      <li><a href="">Estacionamentos</a></li>
      <li><a href="">Funcionarios</a></li>
      <li><a href="">Clientes</a></li>
    </ul>
  </nav>

</section>

<section >

</section>
<router-outlet></router-outlet>
