

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}


ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~nav
{ 
    transform: translateX(350px);

}


nav{
    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}   

img{
    float: left;
    width: 40px;
    border: thin solid;
    padding: 5px;
    margin: 0px 5px 5px 0;
   }