label{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-size: 2rem;
  }

  
  .row .col input{
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 3px solid white;
    font-weight: 400;
    font-size: 1.6rem;
  }

  div{
      display: block;
      align-items: center;
      width: 45%;
  }


  @media (min-width:320px) and (max-width:450px){
    .row .col input{
            width: 150px;
        }

  }