<section id="meio">
    <div class="row">
        <div class="col">
            <label  class="active" for="login">Matrícula</label>
            <input  [(ngModel)]="usuario.matricula" type="text" id="login" class="validate" name="matricula"  >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="active" for="senha">Senha</label>
            <input [(ngModel)]="usuario.senha" id="senha" type="password" class="validate" name="senha" >
        </div>
    </div>
    <div class="row">
        <button routerLink="/tickets" class="btn waves-effect waves-light" type="submit" name="action" (click)="fazerLogin()">Login
            <i class="material-icons right">send</i>
          </button>
    </div>
</section>
