<section id="meio">
    <div class="row">
        <div class="col">
          <label  for="login" >Matricula</label>
          <input  class="form-control" type="text" id="login" name="login"  >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="senha">Senha</label>
            <input  class="form-control" id="senha" type="password" name="senha" >
        </div>
    </div>
    <div class="row">
        <button routerLink="tickets" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
    </div>
</section>
