
<section id="meio">
    
    <H2>Tickets</H2>
    <div class="container-title"> Tickets em Aberto</div>
    <br>

    
    
        <section class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                  <th>Placa</th>
                  <th>Horário Entrada</th>
                  <th></th>
                  <th><button [routerLink]="'/novoticket'" class="btn btn-primary" type="submit" name="action">Novo Ticket</button></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let ticket of tickets">
                <td>{{ ticket.placa }}</td>
                <td>{{ ticket.horaEntrada }}</td>
                <td >
                  <button *ngIf="ticket?.situacao == 9" id="encerrar" [routerLink]="['/encerrar', ticket.id]" class="btn btn-danger"  disabled type="button" name="action">Encerrado</button>
                  <button *ngIf="ticket?.situacao != 9" id="encerrar" [routerLink]="['/encerrar', ticket.id]" class="btn btn-primary" type="button" name="action">Encerrar</button></td>
                  <td><a [routerLink]="['']" style="margin-right: 5px;"  class="waves-effect waves-light btn"><i class="material-icons center" onclick="print()">restore_page</i></a>
                </tr> 

            </tbody>
          </table>
          
    </section>
    <div id= imprimir class="print">
      <p class="centrado">Nome da empresa
                <br>ENDERECO
                <br>CNPJ
                <br>
                <br>
                <br>HORA DE Entrada
                <br>PLACA
              </p>
    
      <p class="centrado">NO CASO DA PERCA DO TICKET
          <br>SERA COBRADO UM VALOR DE R$10,00</p>
  </div>

</section>