
<section id="meio">

    <H2>Clientes</H2>
    <div class="container-title"> Listagem de Clientes  Cadastrados </div>
    <br>

    <section class="table-wrapper">
      <table class="fl-table">
            <thead>
              <tr>
                  <th>CPF</th>
                  <th>Nome</th>
                  <th> 
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Exibir Inativos</label>
                    </div>
                  </th>
                  <th><button routerLink="/novocliente" type="button" class="btn btn-primary">Novo Cliente</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.cgc }}</td>
                <td>{{ cliente.nome }}</td>
                  <td><a [routerLink]="['/detallhescliente', cliente.id]" class="waves-effect waves-light btn"><i class="material-icons center">edit</i></a>
                  <a [routerLink]="['/cadveiculos',cliente.id]"  class="waves-effect waves-light btn"><i class="material-icons center">drive_eta</i></a>
                  <a *ngIf="cliente.situacao==0" (click)="alterarSituacao(cliente)" style=" color : green; font-size: medium;"  class="waves-effect waves-light btn"><i id="turn" class="material-icons center">toggle_on</i></a>
                  <a *ngIf="cliente.situacao==9" (click)="alterarSituacao(cliente)" style=" color : gray" class="waves-effect waves-light btn"><i id="turn" class="material-icons center">toggle_off</i></a></td>
              </tr> 
            </tbody>
          </table>
          
    </section>

</section>
