
.login h1 { 
  color: black;
  letter-spacing:1px;
  text-align:center;
}

.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}


input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 16px;
	color: black;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	
}

#logando{
  color: red;
  background-color: rgb(245, 178, 178);
  border-radius: 2px;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 3px;
}

