<section id="meio">
    <div class="row">
        <div class="col">
            <label  class="active" for="login">Matrícula</label>
            <input  type="text" id="login" class="validate" name="matricula"  >
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="active" for="senha">Senha</label>
            <input id="senha" type="password" class="validate" name="senha" >
        </div>
    </div>

    <div class="row">
        <button routerLink="" class="btn btn-primary" type="submit" name="action" (click)="fazerLogin()">Fazer Login
        </button>
    </div>

</section>
