<section id="meio" >
   
    <H2>Funcionários</H2>
    <div class="container-title"> Alterar funcionário </div>
    <br>

  <div id="myform">
    <form id="form" method="post" (ngSubmit)="onSubmit()" [formGroup]="formulario">
      <div class="form-group">

        <div class="row">
          <div class="col-sm-1">
            <label  for="matricula" >Matrícula</label>
            <input [(ngModel)]="funcionario.matricula" formControlName="matricula" class="form-control" type="text" id="matricula" name="matricula" readonly >
          </div>
          <div class="col-sm-8">
            <label for="nome">Nome</label>
            <input [(ngModel)]="funcionario.nome" formControlName="nome" class="form-control" id="nome" type="text" name="nome" >
          </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="cpf">CPF</label>
                <input [(ngModel)]="funcionario.cpf" formControlName="cpf" class="form-control" id="cpf" type="text" name="cpf" mask="CPF_CNPJ">
            </div>
            <div class="col-sm-3">
                <label for="nascimento">Data Nascimento</label>
                <input [(ngModel)]="funcionario.nascimento" formControlName="nascimento" class="form-control" id="nascimento" type="date" name="nascimento">
            </div>
        </div>

        <div class="row">
           <div class="col-sm-2">
               <label for="cep">CEP</label>
               <input [(ngModel)]="funcionario.cep" #cep  formControlName="cep" class="form-control" id="cep" type="text" name="cep">
            </div>
            <div class="col-sm-3">
                <label for="logradouro">Logradouro</label>
                <input  [(ngModel)]="funcionario.logradouro" formControlName="logradouro" class="form-control" id="logradouro" type="text" name="logradouro">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <label for="complemento">Complemento</label>
                <input [(ngModel)]="funcionario.complemento" formControlName="complemento" class="form-control" id="complemento" type="text" name="complemento">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label  for="cidade">Cidade</label>
                <input  [(ngModel)]="funcionario.cidade" formControlName="cidade" class="form-control" id="cidade" type="text" name="cidade">
            </div>
            <div class="col-sm-3">
                <label for="estado">Estado</label>
                <input  [(ngModel)]="funcionario.estado" formControlName="estado" class="form-control" id="estado" type="text" name="estado">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="telefone">Telefone</label>
                <input [(ngModel)]="funcionario.telefone" formControlName="telefone" class="form-control" id="telefone" type="text" name="telefone" placeholder="(99)99999-9999" mask="(00) 00000-0000 || (00) 0000-0000">
            </div>
            <div class="col-sm-3">
                <label for="email">E-mail</label>
                <input [(ngModel)]="funcionario.email" formControlName="email" class="form-control" id="email" type="text" name="email" placeholder="nome@mail.com">
            </div>
        </div>     

       </div>

        <button  class="btn btn-success" type="submit">Gravar
        </button>

        <button [routerLink]="'/funcionarios'" style="margin-left: 5px;" class="btn btn-danger">Cancelar
        </button>

      </form>
    </div>
</section>
