<section id="meio">
    <h3 style="color: white;">Menu Ticket</h3>
    <br>
      <br><br>
      <div class="form-group">
      <div class="row">
          <div class="col"> 
            <div class="card">
              <div class="card-action white-text">
                <a routerLink="/cadticket">Abrir Ticket</a>
              </div>
            </div>
          </div>
          <div class="col"> 
            <div class="card">
              <div class="card-action white-text">
                <a routerLink="/listar">Consultar Ticket</a>
              </div>
            </div>
          </div>
         
      </div>
      
  
  
            
  
  
           
          
      
      </div>
        
  </section>
  