
#voltar{
    left: 11px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    
}

h1{
    font-size:4.6rem;
}


.card{
    text-align: center;
    background-color: rgb(94, 97, 97);
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 270px;
    height: 100px;
    margin-left: 5px;
    margin-top: 1px;
    top: 5px;
}

.card-action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    border-bottom: 1px solid white;
}


@media (min-width:2560px){
.card{
    width: 600px;
}
 
}