
<section id="meio">
  
    <H4 style="color: white; text-align: left;">Lista de Empresas</H4>
    <button [routerLink]="'/cadastros'" class="btn waves-effect waves-light" type="submit" name="action">Voltar<i class="material-icons left">arrow_back</i></button>
    <br><br>
    <section>
        <table>
            <thead>
              <tr>
                  <th>PLACA</th>
                  <th>HORARIO ENTRADA</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let ticket of tickets">
                <td>{{ ticket.cnpj }}</td>
                <td>{{ ticket.nome }}</td>
                <td><a style="margin-right: 5px;" [routerLink]="['/detalhesticket',ticket.id]" class="waves-effect waves-light btn"><i class="material-icons center">edit</i></a>
                </td>
              </tr> 
            </tbody>
          </table>
          
    </section>

</section>