
<section id="meio">
  
    <H4 style="color: white; text-align: left;">Lista de Tickets</H4>
    <button [routerLink]="'/cadastros'" class="btn waves-effect waves-light" type="submit" name="action">Voltar<i class="material-icons left">arrow_back</i></button>
    <br><br>
    <section>
        <table>
            <thead>
              <tr>
                  <th>PLACA</th>
                  <th>HORARIO ENTRADA</th>
                  <th>Encerrar</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let ticket of tickets">
                <td>{{ ticket.placa }}</td>
                <td>{{ ticket.horaentrada }}</td>
                <td><button [routerLink]="'/encerrar'"class="btn waves-effect waves-light" type="submit" name="action"><i  class="material-icons">clear</i></button></td>
              </tr> 

            </tbody>
          </table>
          
    </section>

</section>