<H2>Scripts</H2>
<div class="container-title"> Cadastrar </div>

<form class="form-control">
     <div class="row">
        <div class="col">
          <label for="titulo">Titulo</label>
          <input type="text" class="titulo">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <label for="texto">Script</label>
            <textarea spellcheck="false" rows="8" cols="5"></textarea>
        </div>
      </div>
      <div class="row-buttons">
         <Button type="button" class="btn btn-success"><i class="small material-icons">save</i></Button>
         <Button routerLink="/scripts" style="margin-left: 5px;" type="button" class="btn btn-danger"><i class="small material-icons">arrow_back</i></Button>
      </div>
</form>