.navbar{
    background-color: #363636 ;
    color: white;
    height: 10%;
}

.sidebar{
    background-color: #292929;
    color: white;
    height: 90%;
    width: 15%;
    position: absolute;
    padding: 1%;
    
}

.sidebar-content{
    margin-top: 30px;
}

.sidebar-content p{
    
    color: #4e4e4e;
    font-size: small;
    font-weight: 600;
}

.sidebar-content-option{
    display: flex;
    margin-top: 20px;
}

.sidebar-content-option a{
    text-decoration: none;
    color: #a2a2a2;
    margin-left: 2px;
}

.sidebar-content-option a:hover{
    text-decoration: none;
    color: white;
}

main{
    margin-left: 15%;
    width: 85%;
    height: 89vh;
    padding: 10px;
    display: fixed;
}

.container-title{
    background-color: #a2a2a2;
    margin: auto;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border: solid 1px white;
    border-radius: 10px;
    color:#4e4e4e;
    font-size: 20px;
    font-weight: 400;
}

#meio{
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 3px;
}

body{
    overflow-y: hidden;
}

input{
    text-transform: uppercase;
}
