#myform{
  
    width: 80%;
    left: 10%;
    right: 50%;
  
  position:relative;
}

  input{
    color: black;
    border: 3px solid white;
    font-weight: 600;
  }

  label{
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  .form-group .row .col input{
    border: 3px solid white;
    background-color: white;
    border-radius: 5px;
  }

  button{
    margin-left: 11px;
  }